<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="emd" value="177.107.125.182,33208:LB_EMD"/>
		<add key="agrol3" value="177.107.125.182,33208:LB_AGROL3"/>
		<add key="lbpapelaria" value="177.107.125.182,33208:LB_LBPAPELARIA"/>
		<add key="oxynox" value="177.107.125.182,33208:LB_OXYNOX"/>
		<add key="oxynoxarm" value="177.107.125.182,33208:LB_OXYNOXARMAZEM"/>
		<add key="s4d" value="177.107.125.182,33208:LB_S4D"/>
		<add key="agropel" value="177.107.125.182,33208:LB_AGROPEL"/>
		<add key="tiago" value="177.107.125.182,33208:LB_TIAGOJUNIOR"/>
		<add key="acai" value="177.107.125.182,33208:LB_MONTECASTELO"/>
	</appSettings>
</configuration>